@import "http://fonts.googleapis.com/css?family=Droid+Serif";  /* This Line is to import Google font style */
.content{
width:960px;
margin:20px auto;
margin-top: 20px;
}
body{
  background-color: cyan;
  text-align: center;
  margin-left: 100px;
}
.center{
  text-align: center;
}
.main{
  float:left;
  width:650px;
  margin-top:80px;
}
#active1{
  color:red;
}
.tab{
  display:none;
  width:350px;
  padding:20px;
  margin-top:50px;
  margin-left:85px;
  border-radius:5px;
  box-shadow:3px 3px 25px 1px gray;
}
.tab.active{
  display:block;
  width:350px;
  padding:20px;
  margin-top:50px;
  border-radius:5px;
  margin-left:85px;
  box-shadow:3px 3px 25px 1px gray
}
input[type=text],input[type=tel],input[type=password],input[type=date],input[type=number],input[type=month]{
  width:90%;
  margin:10px 0;
  height:30px;
  padding:5px;
  border:3px solid #ecb0dc;
  border-radius:4px;
}
#Others label{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-align: right;
  margin-bottom: 10px;
  color: red;
}
#Others select{
  width: 100%;
  margin: 10px 0;
  height: 30px;
  padding: 3px;
  border: 3px solid #ecb0dc;
  border-radius: 4px;
}
textarea{
  width:100%;
  margin:10px 0;
  height:70px;
  padding:5px;
  border:3px solid #ecb0dc;
  border-radius:4px;
}
#Work label{
    display: flex;
    justify-content: flex-start;
    margin-bottom: -8px;
    margin-top: 20px;
}
#Work input[type=radio]{
   display: inline-block;
   margin-top: -40px;
   margin-bottom: 10px;
  
}
#Education  label{
    display: flex;
    justify-content: flex-start;
    margin-bottom: -8px;
    margin-top: 20px;

}
#Education select{
  display: inline-block;
  margin-top: -40px;
  margin-bottom: 10px;
  width: 100%;
  margin: 10px 0;
  height: 30px;
  padding: 3px;
  border: 3px solid #ecb0dc;
  border-radius: 4px;
}
#Team label{
   display: flex;
   flex-direction: column;
}
#Team select{
   display: inline-block;
  margin-top: -40px;
  margin-bottom: 10px;
  width: 100%;
  margin: 10px 0;
  height: 30px;
  padding: 3px;
  border: 3px solid #ecb0dc;
  border-radius: 4px;
}
#Team input[type=checkbox]{
  display: inline-block;
  margin-right: -5px;
}

input[type=submit],input[type=button]{
  width:120px;
  margin:15px 25px;
  padding:5px;
  height:40px;
  background-color:#a0522d;
  border:none;
  border-radius:4px;
  color:#fff;
  font-family:'Droid Serif',serif
}
h2,p{
  text-align:center;
  font-family:'Droid Serif',serif
}
li{
  margin-right:52px;
  display:inline;
  color:#c1c5cc;
  font-family:'Droid Serif',serif;
}
.error input{
  border:3px solid red;
}
.success input{
   border: 3px solid green;
}
.input-group{
  position: relative;
}

.input-group p{
  color: red;
  margin-top:-5px;
 
  font-size: 15px;
 
}
.error p{
  visibility: visible;
}
.error input{
    border:3px solid red;
  }
  .success input{
     border: 3px solid green;
  }
  .input-group1{
    position: relative;
  }
  
  .input-group1 p{
    color: red;
    margin-top:-5px;
   
    font-size: 15px;
    visibility: hidden;
  }
  .error p{
    visibility: visible;
  }
  #next_btn1 :hover{
    cursor: pointer;
    opacity: 0.5;
  }